// Width
$width-mobile-img: $size-img-width / 4;
$width-tablet-img: $size-img-width /2;

// Margin
$margin-mobile-header-title: 10px 0 0 10px !important;
$margin-mobile-customer-name: 0 auto 5px auto !important;
$margin-mobile-language: 0 0 5px 5px !important;
$margin-mobile-navbar: 5px 0 0 0 !important;

$margin-tablet-customer-name: 0 auto 5px auto !important;
$margin-tablet-language: 0 0 5px 20px !important;
$margin-tablet-navbar: 10px 0 0 0 !important;

// Padding
$padding-mobile-selection-item: 0 0 10px 0;
$padding-tablet-selection-item: 0 0 10px 0;
$padding-mobile-promotion-item: 0 0 10px 0;
$padding-tablet-promotion-item: 0 0 10px 0;

// Size
$size-mobile-header-title: 1.2rem !important;
$size-mobile-customer-name: 1.3rem !important;
$size-mobile-language: 0.7rem !important;
$size-mobile-navbar: 0.9rem !important;
$size-mobile-illustration-heading: 1.3rem !important;
$size-mobile-content-heading: 1.3rem !important;

$size-tablet-customer-name: 1.6rem !important;

$size-desktop-header-title: 1.9rem !important;

@include mobile {
    .grid-container {
        grid-template-columns: 1fr !important;
    }
    .header {
        &__topbar {
            flex-direction: column;
            &__logo-title {
                img { width: $width-mobile-img;}
                a { font-size: $size-mobile-header-title; }
            }
            &__customer-name {
                margin: $margin-mobile-customer-name;
                font-size: $size-mobile-customer-name;
            }
            &__language { margin: $margin-mobile-language; }
        }
        &__navbar {
            margin: $margin-mobile-navbar;
            a {
                font-size: $size-mobile-navbar;
                &:not(:first-child) { display: none !important; }
                &.icon {
                float: right;
                display: block !important;
                }
            }
            &.responsive {
                position: relative;
                a {
                    float: none;
                    display: block !important;
                    text-align: left;
                }
                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    .illustration {
        h1 {font-size: $size-mobile-illustration-heading; }
    }
    .about {
        &__slide1, &__slide2 {
            display: none;
        }
        &__content {
            h2 {
                font-size: $size-mobile-content-heading;
            }  
        }
    }
    .selection {
        &__item {
            display: flex;
            flex-direction: column;
            padding: $padding-mobile-selection-item;
            &__firstRow, &__secondRow {
                flex-direction: column;
                img {
                    margin: 10px 50px !important;
                }
            }
            h2 {
                order: -1;
            }
        }
    }
    .promotion {
        &__item {
            display: flex;
            flex-direction: column;
            padding: $padding-mobile-promotion-item;
            &__firstRow, &__secondRow {
                flex-direction: column;
                img {
                    margin: 10px 50px !important;
                }
            }
            h2 {
                order: -1;
            }
        }
    }
}

@include tablet {
    .grid-container {
        grid-template-columns: 1fr !important;
    }
    .header {
        &__topbar {
            flex-direction: column;
            &__customer-name {
                margin: $margin-tablet-customer-name;
                font-size: $size-tablet-customer-name;
            }
            &__language { margin: $margin-tablet-language; }
        }
        &__navbar { margin: $margin-tablet-navbar; }
    }
    .about {
        flex-wrap: wrap;
        &__content {
            order: -1;
        }
    }
    .selection {
        &__item {
            padding: $padding-tablet-selection-item;
        }
        img {
            width: 200px !important;
            height: 133px !important;
        }
    }
    .promotion {
        &__item {
            padding: $padding-tablet-promotion-item;
        }
        img {
            width: 200px !important;
            height: 133px !important;
        }
    }
}

@include desktop {
    .header-title { font-size: $size-desktop-header-title; }
}