@font-face {
    font-family: 'Roboto';
    src:    url(../../public/fonts/Roboto/Roboto-Black.ttf),
            url(../../public/fonts/Roboto/Roboto-BlackItalic.ttf),
            url(../../public/fonts/Roboto/Roboto-Bold.ttf),
            url(../../public/fonts/Roboto/Roboto-BoldItalic.ttf),
            url(../../public/fonts/Roboto/Roboto-Italic.ttf),
            url(../../public/fonts/Roboto/Roboto-Light.ttf),
            url(../../public/fonts/Roboto/Roboto-LightItalic.ttf),
            url(../../public/fonts/Roboto/Roboto-Medium.ttf),
            url(../../public/fonts/Roboto/Roboto-MediumItalic.ttf),
            url(../../public/fonts/Roboto/Roboto-Regular.ttf),
            url(../../public/fonts/Roboto/Roboto-Thin.ttf),
            url(../../public/fonts/Roboto/Roboto-ThinItalic.ttf);
}
@font-face {
    font-family: 'Sofia';
    src:    url(../../public/fonts/Sofia/Sofia-Regular.ttf);
}
@font-face {
    font-family: 'Gupter';
    src:    url(../../public/fonts/Gupter/Gupter-Bold.ttf),
            url(../../public/fonts/Gupter/Gupter-Medium.ttf),
            url(../../public/fonts/Gupter/Gupter-Regular.ttf);
}
@font-face {
    font-family: 'Open-sans';
    src:    url(../../public/fonts/Open/OpenSans-Bold.ttf),
            url(../../public/fonts/Open/OpenSans-BoldItalic.ttf),
            url(../../public/fonts/Open/OpenSans-ExtraBold.ttf),
            url(../../public/fonts/Open/OpenSans-ExtraBoldItalic.ttf),
            url(../../public/fonts/Open/OpenSans-Italic.ttf),
            url(../../public/fonts/Open/OpenSans-Light.ttf),
            url(../../public/fonts/Open/OpenSans-LightItalic.ttf),
            url(../../public/fonts/Open/OpenSans-Regular.ttf),
            url(../../public/fonts/Open/OpenSans-SemiBold.ttf),
            url(../../public/fonts/Open/OpenSans-SemiBoldItalic.ttf);
}