@font-face {
  font-family: 'Roboto';
  src: url(../../public/fonts/Roboto/Roboto-Black.ttf), url(../../public/fonts/Roboto/Roboto-BlackItalic.ttf), url(../../public/fonts/Roboto/Roboto-Bold.ttf), url(../../public/fonts/Roboto/Roboto-BoldItalic.ttf), url(../../public/fonts/Roboto/Roboto-Italic.ttf), url(../../public/fonts/Roboto/Roboto-Light.ttf), url(../../public/fonts/Roboto/Roboto-LightItalic.ttf), url(../../public/fonts/Roboto/Roboto-Medium.ttf), url(../../public/fonts/Roboto/Roboto-MediumItalic.ttf), url(../../public/fonts/Roboto/Roboto-Regular.ttf), url(../../public/fonts/Roboto/Roboto-Thin.ttf), url(../../public/fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: 'Sofia';
  src: url(../../public/fonts/Sofia/Sofia-Regular.ttf);
}

@font-face {
  font-family: 'Gupter';
  src: url(../../public/fonts/Gupter/Gupter-Bold.ttf), url(../../public/fonts/Gupter/Gupter-Medium.ttf), url(../../public/fonts/Gupter/Gupter-Regular.ttf);
}

@font-face {
  font-family: 'Open-sans';
  src: url(../../public/fonts/Open/OpenSans-Bold.ttf), url(../../public/fonts/Open/OpenSans-BoldItalic.ttf), url(../../public/fonts/Open/OpenSans-ExtraBold.ttf), url(../../public/fonts/Open/OpenSans-ExtraBoldItalic.ttf), url(../../public/fonts/Open/OpenSans-Italic.ttf), url(../../public/fonts/Open/OpenSans-Light.ttf), url(../../public/fonts/Open/OpenSans-LightItalic.ttf), url(../../public/fonts/Open/OpenSans-Regular.ttf), url(../../public/fonts/Open/OpenSans-SemiBold.ttf), url(../../public/fonts/Open/OpenSans-SemiBoldItalic.ttf);
}

@media screen and (max-width: 600px) {
  .grid-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .header__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__topbar__logo-title img {
    width: 25%;
  }
  .header__topbar__logo-title a {
    font-size: 1.2rem !important;
  }
  .header__topbar__customer-name {
    margin: 0 auto 5px auto !important;
    font-size: 1.3rem !important;
  }
  .header__topbar__language {
    margin: 0 0 5px 5px !important;
  }
  .header__navbar {
    margin: 5px 0 0 0 !important;
  }
  .header__navbar a {
    font-size: 0.9rem !important;
  }
  .header__navbar a:not(:first-child) {
    display: none !important;
  }
  .header__navbar a.icon {
    float: right;
    display: block !important;
  }
  .header__navbar.responsive {
    position: relative;
  }
  .header__navbar.responsive a {
    float: none;
    display: block !important;
    text-align: left;
  }
  .header__navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .illustration h1 {
    font-size: 1.3rem !important;
  }
  .about__slide1, .about__slide2 {
    display: none;
  }
  .about__content h2 {
    font-size: 1.3rem !important;
  }
  .selection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 10px 0;
  }
  .selection__item__firstRow, .selection__item__secondRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .selection__item__firstRow img, .selection__item__secondRow img {
    margin: 10px 50px !important;
  }
  .selection__item h2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .promotion__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 10px 0;
  }
  .promotion__item__firstRow, .promotion__item__secondRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promotion__item__firstRow img, .promotion__item__secondRow img {
    margin: 10px 50px !important;
  }
  .promotion__item h2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .delivery h2 {
    font-size: 1.2rem !important;
  }
  .delivery h2 i {
    margin: 10px 10px 10px 10px  !important;
  }
}

@media screen and (max-width: 769px) {
  .grid-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .header__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__topbar__customer-name {
    margin: 0 auto 5px auto !important;
    font-size: 1.6rem !important;
  }
  .header__topbar__language {
    margin: 0 0 5px 20px !important;
  }
  .header__navbar {
    margin: 10px 0 0 0 !important;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .selection__item {
    padding: 0 0 10px 0;
  }
  .selection img {
    width: 200px !important;
    height: 133px !important;
  }
  .promotion__item {
    padding: 0 0 10px 0;
  }
  .promotion img {
    width: 200px !important;
    height: 133px !important;
  }
  .delivery h2 {
    font-size: 1.5rem;
  }
  .delivery h2 i {
    margin: 10px 10px 10px 10px;
  }
}

@media screen and (max-width: 960px) {
  .header-title {
    font-size: 1.9rem !important;
  }
}

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  background-color: #E5E5E5;
}

.grid-container {
  margin: 15px 20px 15px 20px;
}

h1,
h2,
h3 {
  color: #E5E5E5;
}

p {
  color: #E5E5E5;
}

a {
  text-decoration: none;
  color: #E5E5E5;
}

a:hover {
  color: #F58C21;
}

@-webkit-keyframes slide1 {
  0% {
    background-image: url("../../public/img/banner/agneau.jpg");
  }
  25% {
    background-image: url("../../public/img/banner/canard.jpg");
  }
  50% {
    background-image: url("../../public/img/banner/dindon.jpg");
  }
  75% {
    background-image: url("../../public/img/banner/lapin.jpg");
  }
  100% {
    background-image: url("../../public/img/banner/agneau.jpg");
  }
}

@keyframes slide1 {
  0% {
    background-image: url("../../public/img/banner/agneau.jpg");
  }
  25% {
    background-image: url("../../public/img/banner/canard.jpg");
  }
  50% {
    background-image: url("../../public/img/banner/dindon.jpg");
  }
  75% {
    background-image: url("../../public/img/banner/lapin.jpg");
  }
  100% {
    background-image: url("../../public/img/banner/agneau.jpg");
  }
}

@-webkit-keyframes slide2 {
  0% {
    background-image: url("../../public/img/banner/pintade.jpg");
  }
  25% {
    background-image: url("../../public/img/banner/porc.jpg");
  }
  50% {
    background-image: url("../../public/img/banner/poule.jpg");
  }
  75% {
    background-image: url("../../public/img/banner/veau.jpg");
  }
  100% {
    background-image: url("../../public/img/banner/pintade.jpg");
  }
}

@keyframes slide2 {
  0% {
    background-image: url("../../public/img/banner/pintade.jpg");
  }
  25% {
    background-image: url("../../public/img/banner/porc.jpg");
  }
  50% {
    background-image: url("../../public/img/banner/poule.jpg");
  }
  75% {
    background-image: url("../../public/img/banner/veau.jpg");
  }
  100% {
    background-image: url("../../public/img/banner/pintade.jpg");
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: header;
}

.section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: section;
}

.aside {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "header header header header header header header header header header header header" "section section section section section section section section section . aside aside";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
}

.header__topbar {
  margin-bottom: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.header__topbar__logo-title {
  margin: 10px 0 10px 10px;
}

.header__topbar__logo-title .link {
  font-family: "Sofia", "Arial", sans-serif;
  font-size: 2.5rem;
}

.header__topbar__logo-title .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__topbar__customer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sofia", "Arial", sans-serif;
  font-size: 1.5rem;
}

.header__topbar__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.header__topbar__language .link {
  text-transform: uppercase;
  font-family: "Gupter", "Arial", sans-serif;
  font-size: 0.9rem;
}

.header__topbar__language .english {
  margin: 0 0 0 20px;
}

.header__topbar__language img {
  margin: 0 5px 0 0;
}

.header__topbar__language .active {
  font-style: italic;
  font-family: "Gupter", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #F58C21;
}

.header__navbar {
  padding: 0 0 0 20px;
}

.header__navbar .link {
  font-family: "Open", sans-serif;
  font-size: 1rem;
  margin: 0 10px 5px 0;
}

.header__navbar .active {
  border: 1px solid #F58C21;
  border-radius: 10px;
  background-color: #F58C21;
  color: white;
  padding: 2px 5px 2px 5px;
  margin: -4px 5px 0 0;
}

.header__navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 0 10px 5px 0;
}

.header__navbar .icon {
  display: none;
}

.header__navbar i {
  margin: 0 5px 0 0;
}

.header.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 20px 0 20px;
}

.illustration {
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.illustration h1 {
  display: inline-block;
  position: relative;
  margin: 10px 0 0 0;
  padding: 5px 15px 0 15px;
  border: 1px solid #3A3A3C;
  border-radius: 10px 10px 0 0;
  background-color: #3A3A3C;
  color: #F58C21;
  font-size: 2.5rem;
  font-family: "Sofia", "Arial", sans-serif;
}

.illustration__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
  margin: 0 10px 0 10px;
  padding: 10px 0 10px 0;
}

.illustration__img img {
  width: 32.25806%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin: 10px 0;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.about__content {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
  margin: 10px 5px 0;
  text-indent: 15px;
  padding: 0 0 5px 5px;
}

.about__content h2 {
  padding-top: 5px;
  text-align: center;
  font-size: 2rem;
  font-family: "Sofia", "Arial", sans-serif;
  color: #F58C21;
}

.about__slide1 {
  margin: 10px 0 25px;
  min-width: 320px;
  height: 198.4px;
  -webkit-box-shadow: 0px 15px 10px -5px #777;
  box-shadow: 0px 15px 10px -5px #777;
  background-size: contain;
  margin-left: 10px;
  -webkit-animation: slide1 15s ease-in-out infinite both;
          animation: slide1 15s ease-in-out infinite both;
}

.about__slide2 {
  margin: 10px 0 25px;
  min-width: 320px;
  height: 198.4px;
  -webkit-box-shadow: 0px 15px 10px -5px #777;
  box-shadow: 0px 15px 10px -5px #777;
  background-size: contain;
  margin-right: 10px;
  -webkit-animation: slide2 15s ease-in-out infinite both;
          animation: slide2 15s ease-in-out infinite both;
}

.selection {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #C4C4C4;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
}

.selection__item {
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
  margin: 5px 0 10px 0;
  padding: 0 0 10px 0;
}

.selection__item__firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.selection__item__firstRow__product h3 {
  margin: -4px 4px 0 4px;
  text-align: center;
  color: white;
  background-color: #F58C21;
  border-radius: 10px;
}

.selection__item__firstRow__product img {
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 200px;
}

.selection__item__secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.selection__item__secondRow h3 {
  border: 1px solid #F58C21;
  border-radius: 10px;
  background-color: #F58C21;
  color: white;
  margin: -4px 4px 0 4px;
  text-align: center;
}

.selection__item__secondRow img {
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 200px;
}

.selection__item h2 {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 2rem;
  color: #F58C21;
  font-family: "Sofia", "Arial", sans-serif;
}

.promotion {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #C4C4C4;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
}

.promotion__item {
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
  margin: 5px 0 10px 0;
  padding: 0 0 10px 0;
}

.promotion__item__firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.promotion__item__firstRow__product h3 {
  margin: -4px 4px 0 4px;
  text-align: center;
  color: white;
  background-color: #F58C21;
  border-radius: 10px;
}

.promotion__item__firstRow__product img {
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 200px;
}

.promotion__item__secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.promotion__item__secondRow h3 {
  border: 1px solid #F58C21;
  border-radius: 10px;
  background-color: #F58C21;
  color: white;
  margin: -4px 4px 0 4px;
  text-align: center;
}

.promotion__item__secondRow img {
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 200px;
}

.promotion__item h2 {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 2rem;
  color: #F58C21;
  font-family: "Sofia", "Arial", sans-serif;
}

.delivery {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #C4C4C4;
  padding: 10px 10px 10px 10px;
}

.delivery__info {
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
}

.delivery__info h2 {
  font-size: 2rem;
  font-family: "Sofia", "Arial", sans-serif;
  color: #F58C21;
  text-align: center;
}

.delivery__info h2 i {
  margin: 0 25px;
}

.delivery__info__content {
  padding: 0 10px 10px 10px;
}

.delivery__info__content p {
  text-indent: 10px;
}
/*# sourceMappingURL=style.css.map */