@font-face {
  font-family: 'Roboto';
  src: url(../../public/fonts/Roboto/Roboto-Black.ttf), url(../../public/fonts/Roboto/Roboto-BlackItalic.ttf), url(../../public/fonts/Roboto/Roboto-Bold.ttf), url(../../public/fonts/Roboto/Roboto-BoldItalic.ttf), url(../../public/fonts/Roboto/Roboto-Italic.ttf), url(../../public/fonts/Roboto/Roboto-Light.ttf), url(../../public/fonts/Roboto/Roboto-LightItalic.ttf), url(../../public/fonts/Roboto/Roboto-Medium.ttf), url(../../public/fonts/Roboto/Roboto-MediumItalic.ttf), url(../../public/fonts/Roboto/Roboto-Regular.ttf), url(../../public/fonts/Roboto/Roboto-Thin.ttf), url(../../public/fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: 'Sofia';
  src: url(../../public/fonts/Sofia/Sofia-Regular.ttf);
}

@font-face {
  font-family: 'Gupter';
  src: url(../../public/fonts/Gupter/Gupter-Bold.ttf), url(../../public/fonts/Gupter/Gupter-Medium.ttf), url(../../public/fonts/Gupter/Gupter-Regular.ttf);
}

@font-face {
  font-family: 'Open-sans';
  src: url(../../public/fonts/Open/OpenSans-Bold.ttf), url(../../public/fonts/Open/OpenSans-BoldItalic.ttf), url(../../public/fonts/Open/OpenSans-ExtraBold.ttf), url(../../public/fonts/Open/OpenSans-ExtraBoldItalic.ttf), url(../../public/fonts/Open/OpenSans-Italic.ttf), url(../../public/fonts/Open/OpenSans-Light.ttf), url(../../public/fonts/Open/OpenSans-LightItalic.ttf), url(../../public/fonts/Open/OpenSans-Regular.ttf), url(../../public/fonts/Open/OpenSans-SemiBold.ttf), url(../../public/fonts/Open/OpenSans-SemiBoldItalic.ttf);
}

@media screen and (max-width: 600px) {
  .header__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__topbar__logo-title img {
    width: 25%;
  }
  .header__topbar__logo-title a {
    font-size: 1.2rem !important;
  }
  .header__topbar__customer-name {
    margin: 0 auto 5px auto !important;
    font-size: 1.3rem !important;
  }
  .header__topbar__language {
    margin: 0 0 5px 5px !important;
  }
  .header__navbar {
    margin: 5px 0 0 0 !important;
  }
  .header__navbar a {
    font-size: 0.9rem !important;
  }
  .header__navbar a:not(:first-child) {
    display: none !important;
  }
  .header__navbar a.icon {
    float: right;
    display: block !important;
  }
  .header__navbar.responsive {
    position: relative;
  }
  .header__navbar.responsive a {
    float: none;
    display: block !important;
    text-align: left;
  }
  .header__navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 769px) {
  .header__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__topbar__customer-name {
    margin: 0 auto 5px auto !important;
    font-size: 1.6rem !important;
  }
  .header__topbar__language {
    margin: 0 0 5px 20px !important;
  }
  .header__navbar {
    margin: 10px 0 0 0 !important;
  }
}

@media screen and (max-width: 960px) {
  .header-title {
    font-size: 1.9rem !important;
  }
}

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.grid-container {
  margin: 15px 20px 15px 20px;
}

.body {
  background-color: #E5E5E5;
}

h1,
h2,
h3 {
  color: #E5E5E5;
}

p {
  color: #E5E5E5;
}

a {
  text-decoration: none;
  color: #E5E5E5;
}

a:hover {
  color: #F58C21;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: header;
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "header header header header header header header header header header header header";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #3A3A3C;
  border-radius: 10px;
  background-color: #3A3A3C;
}

.header__topbar {
  margin-bottom: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.header__topbar__logo-title {
  margin: 10px 0 10px 10px;
}

.header__topbar__logo-title .link {
  font-family: "Sofia", "Arial", sans-serif;
  font-size: 2.5rem;
}

.header__topbar__logo-title .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__topbar__customer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sofia", "Arial", sans-serif;
  font-size: 1.5rem;
}

.header__topbar__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.header__topbar__language .link {
  text-transform: uppercase;
  font-family: "Gupter", "Arial", sans-serif;
  font-size: 0.9rem;
}

.header__topbar__language .english {
  margin: 0 0 0 20px;
}

.header__topbar__language img {
  margin: 0 5px 0 0;
}

.header__topbar__language .active {
  font-style: italic;
  font-family: "Gupter", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #F58C21;
}

.header__navbar {
  padding: 0 0 0 20px;
}

.header__navbar .link {
  font-family: "Open", sans-serif;
  font-size: 1rem;
  margin: 0 10px 5px 0;
}

.header__navbar .active {
  border: 1px solid #F58C21;
  border-radius: 10px;
  background-color: #F58C21;
  color: white;
  padding: 2px 5px 2px 5px;
  margin: -4px 5px 0 0;
}

.header__navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 0 10px 5px 0;
}

.header__navbar .icon {
  display: none;
}

.header__navbar i {
  margin: 0 5px 0 0;
}

.header.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 20px 0 20px;
}
/*# sourceMappingURL=style.css.map */