// Width
$width-illustration-img: $size-img-width / 3.1;

// Margin
$margin-illustration: 10px 0 0 0;
$margin-illustration-heading: 10px 0 0 0;
$margin-illustration-img: 0 10px 0 10px;

// Padding
$padding-illustration: 0 0 10px 0;
$padding-illustration-heading: 5px 15px 0 15px;
$padding-illustration-img: 10px 0 10px 0;

// Size
$size-illustration-heading: 2.5rem;

// Font-family
$fontFamily-illustration-heading: $family-sofia;

.illustration {
    margin: $margin-illustration;
    padding: $padding-illustration;
    text-align: center;
    @include bg-border($bg-grey-dark, $radius-full, null);
    h1 {
        display: inline-block;
        position: relative;
        margin: $margin-illustration-heading;
        padding: $padding-illustration-heading;
        @include bg-border($bg-dark, $radius-top, $heading-color-tertiary);
        font-size: $size-illustration-heading;
        font-family: $fontFamily-illustration-heading;
    }
    &__img {
        @include flexAlign(space-around, normal);
        @include bg-border($bg-dark, $radius-full, null);
        margin: $margin-illustration-img;
        padding: $padding-illustration-img;
        img {
            width: $width-illustration-img;
        }
    }
}

.about {
    @include flexAlign(space-around, center);
    padding: 0 5px;
    margin: 10px 0;
    @include bg-border($bg-grey-dark, $radius-full, null);
    &__content {
        align-self: start;
        @include bg-border($bg-dark, $radius-full, null);
        margin: 10px 5px 0;
        text-indent: 15px;
        padding: 0 0 5px 5px;
        h2 {
        padding-top: 5px;
        text-align: center;
        font-size: 2rem;
        font-family: $family-sofia;
        color: $heading-color-tertiary;
        }
    }
    
    &__slide1 {
        margin: 10px 0 25px;
        min-width: 320px;
        height: 198.4px;
        -webkit-box-shadow: 0px 15px 10px -5px #777;
        box-shadow: 0px 15px 10px -5px #777;
        background-size: contain;
        margin-left: 10px;
        animation: slide1 15s ease-in-out infinite both;
    }
    &__slide2 {
        margin: 10px 0 25px;
        min-width: 320px;
        height: 198.4px;
        -webkit-box-shadow: 0px 15px 10px -5px #777;
        box-shadow: 0px 15px 10px -5px #777;
        background-size: contain;
        margin-right: 10px;
        animation: slide2 15s ease-in-out infinite both;
    }
}