// Width
$width-illustration-img: $size-img-width / 3.1;

// Margin
$margin-illustration: 10px 0 0 0;
$margin-illustration-heading: 10px 0 0 0;
$margin-illustration-img: 0 10px 0 10px;
$margin-selection: 0 0 10px 0;
$margin-selection-item: 5px 0 10px 0;
$margin-selection-heading-level3: -4px 4px 0 4px;
$margin-selection-heading-level2: 10px 0 10px 0;
$margin-selection-img: 5px 5px 5px 5px;
$margin-promotion: 0 0 10px 0;
$margin-promotion-item: 5px 0 10px 0;
$margin-promotion-heading-level3: -4px 4px 0 4px;
$margin-promotion-heading-level2: 10px 0 10px 0;
$margin-promotion-img: 5px 5px 5px 5px;

// Padding
$padding-illustration: 0 0 10px 0;
$padding-illustration-heading: 5px 15px 0 15px;
$padding-illustration-img: 10px 0 10px 0;
$padding-selection: 10px 10px 10px 10px;
$padding-selection-item: 0 0 10px 0;
$padding-promotion: 10px 10px 10px 10px;
$padding-promotion-item: 0 0 10px 0;

// Size
$size-illustration-heading: 2.5rem;
$size-selection-heading-level2: 2rem;
$size-promotion-heading-level2: 2rem;

// Font-family
$fontFamily-illustration-heading: $family-sofia;
$fontFamily-illustration-heading: $family-sofia;
$fontFamily-selection-heading-level2: $family-sofia;
$fontFamily-promotion-heading-level2: $family-sofia;

.illustration {
    margin: $margin-illustration;
    padding: $padding-illustration;
    text-align: center;
    @include bg-border($bg-grey-dark, $radius-full, null);
    h1 {
        display: inline-block;
        position: relative;
        margin: $margin-illustration-heading;
        padding: $padding-illustration-heading;
        @include bg-border($bg-dark, $radius-top, $heading-color-tertiary);
        font-size: $size-illustration-heading;
        font-family: $fontFamily-illustration-heading;
    }
    &__img {
        @include flexAlign(space-around, normal);
        @include bg-border($bg-dark, $radius-full, null);
        margin: $margin-illustration-img;
        padding: $padding-illustration-img;
        img {
            width: $width-illustration-img;
        }
    }
}

.about {
    @include flexAlign(space-around, center);
    padding: 0 5px;
    margin: 10px 0;
    @include bg-border($bg-grey-dark, $radius-full, null);
    &__content {
        align-self: start;
        @include bg-border($bg-dark, $radius-full, null);
        margin: 10px 5px 0;
        text-indent: 15px;
        padding: 0 0 5px 5px;
        h2 {
        padding-top: 5px;
        text-align: center;
        font-size: 2rem;
        font-family: $family-sofia;
        color: $heading-color-tertiary;
        }
    }
    
    &__slide1 {
        margin: 10px 0 25px;
        min-width: 320px;
        height: 198.4px;
        -webkit-box-shadow: 0px 15px 10px -5px #777;
        box-shadow: 0px 15px 10px -5px #777;
        background-size: contain;
        margin-left: 10px;
        animation: slide1 15s ease-in-out infinite both;
    }
    &__slide2 {
        margin: 10px 0 25px;
        min-width: 320px;
        height: 198.4px;
        -webkit-box-shadow: 0px 15px 10px -5px #777;
        box-shadow: 0px 15px 10px -5px #777;
        background-size: contain;
        margin-right: 10px;
        animation: slide2 15s ease-in-out infinite both;
    }
}

.selection {
    @include bg-border($bg-grey-dark, $radius-full, null);
    padding: $padding-selection;
    margin: $margin-selection;
    &__item {
        @include bg-border($bg-dark, $radius-full, null) ;
        margin: $margin-selection-item;
        padding: $padding-selection-item;
        &__firstRow {
            @include flexAlign(space-around, normal);
            &__product {
                h3 {
                    margin: $margin-selection-heading-level3;
                    text-align: center;
                    color: $white;
                    background-color: $bg-orange;
                    border-radius: $radius-full;
                }
                img {
                    margin: $margin-selection-img;
                    width: 300px;
                    height: 200px;
                }
            }
        }
        &__secondRow {
            @include flexAlign(space-around, normal);
            h3 {
                @include bg-border($bg-orange, $radius-full, $white);
                margin: $margin-selection-heading-level3;
                text-align: center;
            }
            img {
                margin: $margin-selection-img;
                width: 300px;
                height: 200px;
            }
        }
        h2 {
            margin: $margin-selection-heading-level2;
            text-align: center;
            font-size: $size-selection-heading-level2;
            color: $heading-color-tertiary;
            font-family: $fontFamily-selection-heading-level2;
        }
    } 
}

.promotion {
    @include bg-border($bg-grey-dark, $radius-full, null);
    padding: $padding-promotion;
    margin: $margin-promotion;
    &__item {
        @include bg-border($bg-dark, $radius-full, null) ;
        margin: $margin-promotion-item;
        padding: $padding-promotion-item;
        &__firstRow {
            @include flexAlign(space-around, normal);
            &__product {
                h3 {
                    margin: $margin-promotion-heading-level3;
                    text-align: center;
                    color: $white;
                    background-color: $bg-orange;
                    border-radius: $radius-full;
                }
                img {
                    margin: $margin-promotion-img;
                    width: 300px;
                    height: 200px;
                }
            }
        }
        &__secondRow {
            @include flexAlign(space-around, normal);
            h3 {
                @include bg-border($bg-orange, $radius-full, $white);
                margin: $margin-promotion-heading-level3;
                text-align: center;
            }
            img {
                margin: $margin-promotion-img;
                width: 300px;
                height: 200px;
            }
        }
        h2 {
            margin: $margin-promotion-heading-level2;
            text-align: center;
            font-size: $size-promotion-heading-level2;
            color: $heading-color-tertiary;
            font-family: $fontFamily-promotion-heading-level2;
        }
    }
}

.delivery {
    @include bg-border($bg-grey-dark, $radius-full, null);
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    &__info {
        @include bg-border($bg-dark, $radius-full, null) ;
        h2 {
            font-size: 2rem;
            font-family: $family-sofia;
            color: $heading-color-tertiary;
            text-align: center;
            i {
             margin: 0 25px;
            }
        }
        &__content {
            padding: 0 10px 10px 10px;
            p {
                text-indent: 10px;
            }
        }
    }
}

.payment {
    @include bg-border($bg-grey-dark, $radius-full, null);
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    &__info {
        @include bg-border($bg-dark, $radius-full, null);
        h2 {
            font-size: 2rem;
            font-family: $family-sofia;
            color: $heading-color-tertiary;
            text-align: center;
        }
        &__content {
            padding: 0 10px 10px 10px;
            p {
                text-indent: 10px;
            }
            &__logoCard {
                text-align: center;
            img {
                margin: 10px 10px;
            }
            }
        }
    }
}